{{!-- <a class="get-home" href="/users">To Home Page</a>
<main id="ab">
    <h1>{{title}} </h1>

    <ul>
        {{#each alluser}}
        <li>
            <a class="person-item" href="/users/{{this._id}}/allshop">{{this.firstname}} </a>
        </li>
        <br>
        {{/each}}
    </ul>

</main>

       <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">​Throwing away food is like stealing from the table of those who are poor and hungry. - Pope Francis</p></div>
        </footer> --}}