{{!-- <form action = "/delete" method = "POST" id = "private-form">
<h1 class = "private">
    Welcome {{username}}
</h1>
<h2><a href ="/edit">Edit your profile</a></h2>
<input name = "_method" hidden value = "DELETE">
 <input id = "remove-button" class = "submit-button" type = "submit" value = "Remove Account" hidden>
 <button class = "submit-button" id ="remove-button" type = "submit" value = "Remove Account" hidden></a></button>
 <p id = "remove-success" hidden>Account removed successfully</p>
<p><a href="/logout">Logout</a></p>
</form> --}}