


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          
                <!-- <a class="navbar-brand" href="#page-top">S-Mart</a> -->
                <a href="#page-top"><img class="logo-img" src="/public/Aishwarya/Shoppage/images/S-Mart-logos.jpeg" width="90" height="90" ALT="align box"></a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">      
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>  
                        <li class="nav-item"><a class="nav-link" href="#Contactpage">Contact Us</a></li>      
                        <li class="nav-item"><a class="nav-link" href="/shop/login">Shopkeeper</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/login">Customer</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop/allProduct">Product</a></li>
                    </ul>
                </div>
           
        </nav>


<section class="home-section" style="background-color: beige;">
     <p style="font-family:Georgia; color: Brown; font-size: 80px;">S-Mart</p>
    <p style="font-family:Georgia; color: Blue; font-size: 20px;"><q> <i>Our mission is to inspire and empower everyone to take action against food waste. 
   We know that to live and breathe this every day, we need to turn our words into actions.
   With this in mind we have set out a new ambition - to contribute in every way we can to building the global food waste movement.
  It's only when we all come together to fight food waste, that we'll be able to generate a positive change in society.</i></q>

  <p style="font-family:Georgia; color: brown; font-size: 40px;">Join us now!</p>
 <div>
 <a href="users/signup" style="color: Blue; font-size: 20px;"> For Customers </a>
</div>

 
<div>
 <a href="shop/signup" style="color: Blue; font-size: 20px;"> For Shopkeepers
 </a>
</div>

</section>
  <div id="intromain">




<section class="image"></section>
<section class="image"></section>
<section class="image"></section>
<section class="image"></section>
 </div>
<section id="Contactpage">
  <h1 class="lead" style="font-family:Georgia;">Contact Us</h1>
 <p style="font-family:Georgia; color: brown; font-size: 20px;"><i> 
  We'd love to hear from you.</i></p>
 <p style="font-family:Georgia; color: brown; font-size: 20px;"><i> 
  Whether you're curious about how we work, have any doubts or even concerns - we're ready to answer any and all of your questions.</i></p>
<a style="font-family:Georgia; color: brown; font-size: 20px;" href="mailto:smarthelp93@gmail.com?subject=Feedback&body=Message"><p style="font-family:Georgia; color: brown; font-size: 20px;">smarthelp93@gmail.com</p></a>

</section>

  <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">​Throwing away food is like stealing from the table of those who are poor and hungry. - Pope Francis</p></div>
        </footer>